<%= form_for @evento, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :data_prevista, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :data_prevista, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_realizada, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :data_realizada, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_evento_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :tipo_evento_id, 
        @tipo_eventos.collect { |tipo| [ tipo.nome, tipo.id ] } , :include_blank => true%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :evento, :class => 'control-label' %>
    <div class="controls">
      <%=  
      select_tag 'colmeias[id][]', options_for_select(Colmeia.all.map {|s| [s.nome, s.id]}, 
:selected => @evento.colmeias.map {|j| [j.nome, j.id]}), :multiple => true
      %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                eventos_path, :class => 'btn' %>
  </div>
<% end %>
